.mypy_cache/
.pytest_cache/
.vscode/
__pycache__/
*.py[ocd]
db.sqlite3
develop-eggs
bin
parts
sources
.installed.cfg
.mr.developer.cfg
*.egg-info
node_modules
build
dist
lib
pyvenv.cfg
pip-selfcheck.json
.DS_Store
.coverage
coverage.xml
htmlcov/
static/
media/
